[Unit]
Description=mouseless
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/mouseless --config /home/ibnu/.config/mouseless/config.yaml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
