[Unit]
Description=xremap key remapper
After=mouseless.service
Requires=mouseless.service

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/local/bin/xremap /home/ibnu/.config/xremap/config.yml
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target
